
.Botoes {  
    text-align: center; 
    font-size: 20px;
    margin-top: 20%;
    margin-left: 42%;
    position: fixed;
    background-color: purple
} 
.Botoes span {
 font-size: 25px;

} 
.Botoes button {
font-size: 20px;
background-color:royalblue;
} 
